<%= render partial: "posts/header" %>
<div class = "container">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label "ニックネーム",:class => "field-label" %><br />
    <%= f.text_field :username, autofocus: true ,:class =>'field-frame' %>
  </div>

  <div class="field">
    <%= f.label "メールアドレス",:class => "field-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",:class =>'field-frame' %>
  </div>

  <div class="field">
    <%= f.label "パスワード",:class => "field-label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",:class =>'field-frame' %>
  </div>

  <div class="field">
    <%= f.label "パスワード確認",:class => "field-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",:class =>'field-frame' %>
  </div>

  <div class="actions">
    <%= f.submit "登録",:class => "sign-up-btn" %>
  </div>
<% end %>
</div>
<div class= other>
<%= render "devise/shared/links" %>
</div>
