<ul class="tab">
  <li class="select is-active">幸運</li>
  <li class="select">日常</li>
  <li class="select">恋愛</li>
  <li class="select">その他</li>
</ul>

<% post.each do |p| %>
<div class="cards is-show">
    <div class= "card-head">
      <p class="card-title">Boast</p>
    </div>

    <div class= "card-content">
    <p class="card-text"><%= p.text %></p>


    <div class= "card-function">
      <% if p.user_id == current_user.id %>
    <%= link_to "詳細", post_path(p.id),class: "detail-btn"%>
    <%= link_to "編集",  edit_post_path(p),class: "edit-btn" %>
    <%= link_to "削除", post_path(p.id),method: :delete,class: "delete-btn",data: { confirm: "ほんまに削除するで？"} %>
    <% else %>
    <%= link_to "詳細", post_path(p.id),class: "detail-btn"%>
    <% end %>
  </div>
 </div>
</div>

<div class="cards">
  <div class= "card-head">
      <p class="card-title">Boast</p>
    </div>

    <div class= "card-content">
    <p class="card-text"><%= p.text %></p>


    <div class= "card-function">
      <% if p.user_id == current_user.id %>
    <%= link_to "詳細", post_path(p.id),class: "detail-btn"%>
    <%= link_to "編集",  edit_post_path(p),class: "edit-btn" %>
    <%= link_to "削除", post_path(p.id),method: :delete,class: "delete-btn",data: { confirm: "ほんまに削除するで？"} %>
    <% else %>
    <%= link_to "詳細", post_path(p.id),class: "detail-btn"%>
    <% end %>
  </div>
 </div>
</div>

<div class="cards">
  <div class= "card-head">
      <p class="card-title">Boast</p>
    </div>
  <div class= "card-content">
    <p class="card-text"><%= p.text %></p>


    <div class= "card-function">
      <% if p.user_id == current_user.id %>
    <%= link_to "詳細", post_path(p.id),class: "detail-btn"%>
    <%= link_to "編集",  edit_post_path(p),class: "edit-btn" %>
    <%= link_to "削除", post_path(p.id),method: :delete,class: "delete-btn",data: { confirm: "ほんまに削除するで？"} %>
    <% else %>
    <%= link_to "詳細", post_path(p.id),class: "detail-btn"%>
    <% end %>
  </div>
 </div>
</div>

  <div class="cards">
    <div class= "card-head">
      <p class="card-title">Boast</p>
    </div>
  <div class= "card-content">
    <p class="card-text"><%= p.text %></p>


    <div class= "card-function">
      <% if p.user_id == current_user.id %>
    <%= link_to "詳細", post_path(p.id),class: "detail-btn"%>
    <%= link_to "編集",  edit_post_path(p),class: "edit-btn" %>
    <%= link_to "削除", post_path(p.id),method: :delete,class: "delete-btn",data: { confirm: "ほんまに削除するで？"} %>
    <% else %>
    <%= link_to "詳細", post_path(p.id),class: "detail-btn"%>
    <% end %>
  </div>
 </div>
</div>

<% end %>
