<%= render partial: "header" %>

<div class="container">


<%= form_for @post,:html => {:class => "form-content"}  do |f| %>

  <div class="field">
    <%= f.text_area :text, size:"70x10" %>
  </div>
  <div class="field">
    <%= f.label :ジャンル %><br />
    <%= f.collection_select :genre_id, Genre.all, :id, :name, {},{:class => "genres"} %>
  </div>

  <div class= "actions">
    <%= f.submit "自慢する",class: "boast-btn" %>
  </div>
<% end %>

</div>



